<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Answers" version="1.5.0" targetFramework="net461" />
  <package id="CrashReporter.NET.Official" version="1.5.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="Fabric" version="1.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.3.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net461" />
</packages>